.profile  {
  text-align: left;
  columns: 1;
  color: none;
  background-color: slategray;
  padding: 15px;
}

img {
  width: 400px;
  height: 300px;
  float: left;
  border-width: 2px;
  border-style: groove;
  border-color: black;
  border-radius: 400px;
  columns: 3;
}

.projects {
  text-align: left;
  columns: 1;
}

.information  {
  column-count: auto;
  column-gap: 1em;
  column-rule: 3em;
  column-fill: auto;
}
.highlight  {
  color: slategray;
}

.html {
  background-color: slategray;
}

#github {
  font-weight: 700;
  text-transform: uppercase;
}

.flex-grow  {
  flex-grow: 1;
}

.profile #github::after {
  content: '';
    display: block;
    width: 0;
    height: 4px;
    background: black;
    transition: width .2s;
}