.profile  {
  text-align: left;
  width: auto;
  columns: 1;
  color: none;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: slategray;
}

#img {
  width: 200px;
  height: 150px;
  float: left;
  border-width: 2px;
  border-style: groove;
  border-color: black;
  border-radius: 400px;
}

.projects {
  width: 140px;
  float: left;
}

.information  {
  column-count: auto;
  column-gap: 1em;
  column-rule: 3em;
  column-fill: auto;
  color: darkslategray;
}
.highlight  {
  color: slategray;
}

.html {
  background-color: rgb(55, 72, 88);
}

#github {
  font-weight: 700;
  text-transform: uppercase;
  color: whitesmoke;
}

.flex-grow  {
  flex-grow: 1;
}

.profile #github::after {
  content: '';
    display: block;
    width: 0;
    height: 4px;
    background: black;
    transition: .2s ease-in-out;
}

#name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 42px;
  font-stretch: condensed;
}