#main-header {
  text-align: left;
  width: auto;
  padding: 15px;
  background-color: slategray;
}

.portfolio  {
  float: left;
  width: 1200;
  margin-left: 410px;
}

#img {
  width: 200px;
  height: 150px;
  float: left;
  border-width: 2px;
  border-style: groove;
  border-color: black;
  border-radius: 400px;
  margin-left: 75px;
}

.projects {
  width: 140px;
  float: left;
}

.information  {
  column-count: auto;
  column-gap: 1em;
  column-rule: 3em;
  column-fill: auto;
  color: darkslategray;
}

.highlight  {
  color: slategray;
}

.html {
  background-color: rgb(55, 72, 88);
}

#github {
  font-weight: 700;
  text-transform: uppercase;
}

#email-logo  {
  border-radius: 55%;
}

#email  {
  font-weight: 700;
  text-transform: uppercase;
}

.flex-grow  {
  flex-grow: 1;
}

#name {
  font-family: fantasy;
  font-weight: 300;
  font-size: 54px;
  text-align: left;
}